Project.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="project">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="program" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="file" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="image" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="file" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="sprite" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="file" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>